{% extends 'base.html.twig' %}
{% block title %} Home {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="gallery.css">
{% endblock %}
{% block form %}
<form class="d-flex">
{{ form(form)}}
</form>
{%  endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
    <div class="alert alert-dismissible alert-success">
<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
<strong>Well done!</strong>{{ message }}<a href="#" class="alert-link">this important alert message</a>.
</div>
    {% endfor %}
    <div class="container" style="overflow: auto;">
        {% for product in prods %}
        <div class="card" style="float:left; ">
  <a href="/product/{{ product.id }}"><img src="{{ asset('images/') ~ product.image }}" alt="." style="width:100%"></a>
  <h1> {{ product.name }}</h1>
  <p class="price">${{ product.price }}</p>
  <p class="description">{{ product.description }}</p>
  <p><button>Add to Cart</button></p>
</div>
    {% endfor %}
    </div>
{%  endblock %}
